<!DOCTYPE html>
<title>Вход в систему</title>
<link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/static/front/main.css" rel="stylesheet">

<div class="login_form">

	<h2>Волга <small>– интеллектуальная обучающая система</small></h2>

	{% if form.errors %}
		<p class="text-error alert">Неверные имя пользователя и/или пароль.</p>
	{% endif %}

	{# Must be updated to bootstrap 2.2.1 #}
	<form class="form-horizontal" method="post" action="{% url login %}">
	  {% csrf_token %}
	  <div class="control-group">
	    <label for="id_username" class="control-label">Имя пользователя</label>
	    <div class="controls">
	      {{ form.username }}
	    </div>
	  </div>
	  <div class="control-group">
	    <label for="id_password" class="control-label">Пароль</label>
	    <div class="controls">
	      {{ form.password }}
	    </div>
	  </div>
	  <div class="control-group">
	  	<div class="controls">
	      <input type="submit" class="btn btn-primary btn-large" value="Войти">
		  <input type="hidden" name="next" value="{% url show_theory %}">
		</div>
	  </div>
	</form>
</div>
