/** 
 * theming styles
 * 
 */

#header {
    background: white;
}

/* на белом фоне теперь все равно ничего не видно */
#user-tools{
    display: none;
}

/* заголовок только занимает место */
.dashboard-title{
    display: none;
}

#header #branding h1 {
    margin: 0;
    padding: 0px 0px;
    text-indent: -9999px;
    background: transparent url(../img/volga.png) center no-repeat;
    height: 59px;
    width: 168px;
}

div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}
