{% block content %}

<ul>
{% for student in students %}
	<li>
		<p>Студент: {{student.user.username}}</p>
		{% for session in student.sessions.all %}
			{% for attempt in session.attempt_set.all %}
			  {% for step in attempt.step_set.all %}
			  	{% ifequal step.status 0 %}		  	
			  	  <p><b>Задача: {{attempt.task.name}}</b></p>
			  	  <p>
			  	    {{step.time|time:"H:i" }} <b>Шаг </b>{{step.number}}, тип: {{step.milestone.type}}, интерфейс: 
	                {% ifequal step.interface 1 %} трудный, {% else %} легкий, {% endifequal %}
	                <br/><br/>
	                {% if step.interface %}{{ step.data_hard }}{% else %}\({{ step.data_easy }}\){% endif %}<br /><br/>
	 			  </p>	
			    {% endifequal %}
			  {% endfor %}
			{% endfor %}
		{% endfor %}
	</li>
{% endfor %}
</ul>

{% endblock content %}