{% block content %}

{% for s in solution_milestones %}
	<hr>
<p><b>Solution: {{ s.solution.name }}, Milestone: {{ s.milestone.name }}</b></p><br/>
 		{{s.milestone.hard_data}}
<br/>
{{s.milestone.plan_hint}}
<br/>
<hr>
{% endfor %}
{% endblock content %}