{% block content %}

{% if hint_type == 4 %}
<h1>All hints </h1>
{% for m in milestones %}
	<hr>
<p><b>Milestone: {{ m.name }}, {{ m.hard_data }}</b></p>
	Hints:
<ul>
	{% for hint in m.hint_set.all %}
	<li><b>{% if hint.hint_type == 1 %} Теоретическая {% elif hint.hint_type == 2 %}
	Схематическая {% elif hint.hint_type == 3 %} Конкретная {% else %} {% endif %} {{hint.idx}} </b><br>  
			{% if hint.hint_kind == 3 %} Переключитесь на более простую <a
			href="#">задачу </a>%} 
			{%elif hint.hint_kind == 2 %} 
			Посмотрите теоретический <a href="#">материал </a>
			{%else %}
			{% endif %} 
			 {{hint.text}} 
	</li>{% endfor %}
</ul>
<hr>

{% endfor %}
{% endif %}

{% if hint_type == 1 %}
<h1>Theoretic hints </h1>
{% for m in milestones %}
	<hr>
<p><b>Milestone: {{ m.name }}, {{ m.hard_data }}</b></p>
	Hints:
<ul>
	{% for hint in m.hint_set.all %} {% if hint.hint_type == 1 %}
	<li>Type: {{hint.hint_type}} <br> 
		Text: 
			{% if hint.hint_kind == 3 %} Переключитесь на более простую <a
			href="#">задачу </a>%} 
			{%elif hint.hint_kind == 2 %} 
			Посмотрите теоретический <a href="#">материал </a>
			{%else %}
			{% endif %} 
			 {{hint.text}} 
		{% endif %}	
	</li>{% endfor %}
</ul>
<hr>

{% endfor %}
{% endif %}

{% if hint_type == 2 %}
<h1>Schematic hints </h1>
{% for m in milestones %}
	<hr>
<p><b>Milestone: {{ m.name }}, {{ m.hard_data }}</b></p>
	Hints:
	<ul>
	{% for hint in m.hint_set.all %} {% if hint.hint_type == 2 %}
	<li>Type: {{hint.hint_type}} <br> 
		Text: 
			{% if hint.hint_kind == 3 %} Переключитесь на более простую <a
			href="#">задачу </a>%} 
			{%elif hint.hint_kind == 2 %} 
			Посмотрите теоретический <a href="#">материал </a>
			{%else %}
			{% endif %} 
			 {{hint.text}} 
		{% endif %}	
	</li>{% endfor %}
	</ul>
	<hr>

{% endfor %}
{% endif %}

{% if hint_type == 3 %}
<h1>Concrete hints </h1>
{% for m in milestones %}
	<hr>
	<p><b>Milestone: {{ m.name }}, {{ m.hard_data }}</b></p>
	Hints:
	<ul>
	{% for hint in m.hint_set.all %} {% if hint.hint_type == 3 %}
	<li>Type: {{hint.hint_type}} <br> 
		Text: 
			{% if hint.hint_kind == 3 %} Переключитесь на более простую <a
			href="#">задачу </a>%} 
			{%elif hint.hint_kind == 2 %} 
			Посмотрите теоретический <a href="#">материал </a>
			{%else %}
			{% endif %} 
			 {{hint.text}} 
		{% endif %}	
	</li>{% endfor %}
	</ul>
	<hr>

{% endfor %}
{% endif %}
{% endblock content %}