{% extends "base.html" %} {% block head %}
<script type="text/javascript">
$(function() {
    	MathJax.Hub.Config({
    	    tex2jax: {
    	        inlineMath: [['$','$'], ['\\(','\\)']],
    	        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
    	        processEscapes: true
    	    },
    	     jax: ["input/TeX", "output/HTML-CSS"],
    	     "HTML-CSS": {
    	     availableFonts: ["TeX"],
    	     preferredFont: "TeX",
    	     webFont: "TeX",
    	     imageFont: null }
  		});
	$('#main-container').on('click', '.get_hint', function(){    
    $('#main-container').find('.hint-type').html($(this).attr('data-hint'));
    $('#main-container').find('.dropdown-toggle-hint').html($(this).html());
	});
	$('#main-container').on('click', '.get_task', function(){    
    $('#main-container').find('.task-id').html($(this).attr('data-task'));
    $('#main-container').find('.dropdown-toggle-task').html($(this).html());
	});
	$('#main-container').on('click', '#form', function(){ 
		task_id = $('#main-container').find('.task-id').html();
		hint_type = $('#main-container').find('.hint-type').html();
		$.get('/show_filtered_hints',
				{'task_id': task_id, 'hint_type': hint_type}, function(data){
					$('#report').html(data);
					MathJax.Hub.Queue(["Typeset", MathJax.Hub, 'report']);
		});
	});
});
</script>
<br/><br/>
<h1><center>Отчет по подсказкам</center></h1>
{% endblock %} {% block content %}
<div id="main-container">
	Выбрать тип подсказки: &nbsp; <span class="dropdown step-hint" href="#">
		<a href="#" class="dropdown-toggle-hint" data-toggle="dropdown">................</a>
		<ul class="dropdown-menu" style="margin-top: 10px;">
			<li><a href="#" class="get_hint" data-hint="1">Теоретическая</a></li>
			<li><a href="#" class="get_hint" data-hint="2">Схематическая</a></li>
			<li><a href="#" class="get_hint" data-hint="3">Конкретная</a></li>
			<li><a href="#" class="get_hint" data-hint="4">Все</a></li>
		</ul>
	</span> &nbsp; Выбрать задачу: <span class="dropdown step-hint" href="#">
		<a href="#" class="dropdown-toggle-task" data-toggle="dropdown">................</a>
		<ul class="dropdown-menu" style="margin-top: 10px;">
			{% for task in tasks %}
			<li><a href="#" class="get_task" data-task={{task.id}}>{{task.name}}</a>
			</li> {% endfor %}
		</ul>
	</span>
	&nbsp;
	<a href="#" class="btn btn-primary" id="form" >  
		Сформировать отчет
	</a>
	<div class="hint-type hide">0</div>
	<div class="task-id hide">0</div>
</div>
<div id="report"></div>
{% endblock content %}
