	{% extends "base.html" %}


{% block page_title %} Теория: {{ text.title }}{% endblock %}

{% block head %}
<link href="/static/lib/jquery.treeview/jquery.treeview.css" rel="stylesheet">
<script src="/static/lib/jquery/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/static/lib/jquery.treeview/jquery.treeview.min.js" type="text/javascript"></script>
<script src="/static/front/logging.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		// ================ Configuration =================
		$("#tree").treeview({
			control: "#treecontrol",
			persist: "cookie",
			cookieId: "treeview",
			persist: "location"
		});
		// ================ END Configuration =============


		var logger = new Logger();

		// current_theory_id = 0, когда открыта просто главная страница теории
		var current_theory_id = {% if text.id %}{{text.id}}{% else %}0{% endif %};	
		
		//введена потому что дублируются события window on focus
		var window_focus = false;

		// ============== Логирование различных событий ==========
		// 1. Открытие теории
		
		logger.add_to_log("STUDENT OPEN THEORY " + current_theory_id);
		
		// 2. Закрытие вкладки (окна) с теорией
		$(window).bind('beforeunload', function(){
			logger.add_to_log("STUDENT CLOSE THEORY " + current_theory_id);
		    // Отправим оставшиеся логи
		    logger.send_log();
		});

		// 3. Смена вкладки, т.е. потеря фокуса на окно (вкладку) с теорией
		 $(window).blur(function() {
			if(window_focus) {
			  	window_focus = false;
			  	logger.add_to_log('STUDENT LOST_FOCUS THEORY ' + current_theory_id);  
			}
		 });

		// 4. Возврат к уже открытой вкладке с теорией
		 $(window).focus(function() {
			 if(!window_focus) {
				 logger.add_to_log('STUDENT FOCUS THEORY ' + current_theory_id);
			  	 window_focus = true;
			 }	 
		 });
		
		$('.itask-container').on('click', '#tree', function(){
			logger.add_to_log('STUDENT CLICK THEORY_CONTENTS ');
		});

		// 5. Сколько по времени двигался курсор мышки без остановки
		// @INFO: запись "(function(){" используется для того, чтобы все
		// переменные внутри не могли быть перезаписаны вовне, т.е. они видны только внутри функции
		(function(){
			var timer = null;
			var isMouseMoving = false;
			var secondsMoving = 0;

			function mouseStop() { 
				isMouseMoving = false
				secondsMoving = ((new Date).getTime() - secondsMoving)/1000
				logger.add_to_log('STUDENT MOVE_MOUSE THEORY ' + secondsMoving);
			}

			$('body').mousemove(function(){
				clearTimeout(timer)
				// Считаем, что мышка остановила непрерывное движение,
				// если она не двигалась дольше 1с
				timer = setTimeout(mouseStop, 1000)
				if (!isMouseMoving) {
					// Начало движения
					isMouseMoving = true
					secondsMoving = (new Date).getTime()
				}
			});
		})();
		

		// 6. Сколько по времени студент скроллил страницу
		(function(){
			var timer = null;
			var isScrolling = false;
			var secondsScrolling = 0;

			function mouseStop() { 
				isScrolling = false
				secondsScrolling = ((new Date).getTime() - secondsScrolling)/1000
				logger.add_to_log('STUDENT SCROLL THEORY ' + secondsScrolling);
			}

			$(window).scroll(function(){
				clearTimeout(timer)
				// Считаем, что скроллили, если между скроллами
				// прошло не больше  1с
				timer = setTimeout(mouseStop, 1000)
				if (!isScrolling) {
					// Начало движения
					isScrolling = true
					secondsScrolling = (new Date).getTime()
				}
			});
		})();
		// ============== END Логирование различных событий ==========
		 
	});
</script>
{% endblock %}

{% block content%}
	<div class="row-fluid" style="margin-top: 15px">
		<div class="span5 well">
			{# Список глав #}
			<ul class="treeview" id="tree">
				{% for title in contents %}
				<li>
					<span>{{title.name}}</span>
					<ul style="display:none;">
					{# Список параграфов и задачи в рамках главы #}
					{% for paragraph in title.theory_set.all %}
						<li>
							<a href="/theory/{{paragraph.id}}">{{paragraph.title}}</a>
							{% if paragraph.tasks.all %}
								<ul style="display:none;">
								{% for task in paragraph.tasks.all %}
									<li class="task-link"><a href="/tasks/{{task.id}}">{{task.name}}</a></li>
								{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</div>
		{# Содержимое теории #}
		<div class="span7">
			<h3>{{ text.title }}</h3>
			{{text.text|safe}}
		</div>
	</div>
{% endblock %}