<!-- Шаблон Решение квад. ур. – приведение к каноническому виду -->
<div id="inputs">
	<table class="table_formula">
		<tr>
			<td>
				<input id="i1" type="text" class="normal_input formula_input_field">
			</td>
			<td>
				<input id="i2" type="text" data-index="upper" class="upper_index_input formula_input_field">
			</td>
			<td class="digits">
				&#8722; 
			</td>
			<td>
				<input id="i3" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i4" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				+
			</td>
			<td>
				<input id="i5" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				=
			</td>
			<td>
				<input id="i6" type="text" class="normal_input formula_input_field">
			</td>
		</tr>
	</table>
</div>

<!-- Шаблон формула дискриминанта: общий вид -->
<div id="inputs">
	<table class="table_formula">
		<tr>
			<td>
				<input id="i1" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				=
			</td>
			<td>
				<input id="i2" type="text" class="normal_input formula_input_field">
			</td>
			<td>
				<input id="i3" type="text" data-index="upper" class="upper_index_input formula_input_field">
			</td>
			<td class="digits">
				&#8722; 
			</td>	
			<td>
				<input id="i4" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i5" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i6" type="text" class="normal_input formula_input_field">
			</td>
		</tr>
	</table>
</div>	

<!-- Шаблон формула скалярного произведения двумерных векторов -->
<div id="inputs">
	<table class="table_formula">
		<tr>
			<td>
				<input id="i1" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				=
			</td>
			<td>
				<input id="i2" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i3" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				+
			</td>
			<td>
				<input id="i4" type="text" class="normal_input formula_input_field">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i5" type="text" class="normal_input formula_input_field">
			</td>
		</tr>
	</table>
</div>	

	<table class="table_formula">
		<tr>
            <td style="width: 10px"></td>
			<td>
				<input id="i1" type="text" style="height: 20px; width: 60px; font-size: 14px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				=
			</td>
			<!--  первый множитель -->					
			<td>
				<input id="i2" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i3" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				+
			</td>				
			<td>
				<input id="i4" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i5" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				+
			</td>				
			<td>
			<input id="i6" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i7" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				+
			</td>					
			<td>
			<input id="i8" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
			<td class="digits">
 				&times;
			</td>
			<td>
				<input id="i9" type="text" style="height: 20px; width: 36px; font-size: 12px" class="formula_input_field_droppable">
			</td>
		</tr>
	</table>

<!-- Шаблон матрицы с нормальным вертикальным выравниванием -->	
	             <table class="main_container">
						<tbody>
							<tr>
											<td><img src="/static/img/leftP8.png"></td>											
											<td>
												<table>
														<tbody>
															<tr>
																<td>
																<input id="i1" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field_droppable">
																</td>
															</tr>
															<tr>
																<td>
																<input id="i2" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field_droppable">
																</td>
															</tr>
															<tr>
																<td>
																<input id="i3" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field_droppable">
																</td>
															</tr>
															<tr>
																<td>
																<input id="i4" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field_droppable">
																</td>
															</tr>
														</tbody>
													</table>
												</td>													
												<td><img src="/static/img/rightP8.png"></td>
												
												<td class="digits"> = </td>
												
												<td><img src="/static/img/leftP8.png"></td>
												
												<td>
												<table>
													<tbody>
														<tr>
															<td>
															<input id="i5" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
															<td class="matrix_digits digits"> - </td>
															<td>
															<input id="i6" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
														</tr>
														<tr>
															<td>
															<input id="i7" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
															<td class="matrix_digits digits"> - </td>
															<td>
															<input id="i8" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
														</tr>
														<tr>
															<td>
															<input id="i9" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
															<td class="matrix_digits digits"> - </td>
															<td>
															<input id="i10" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
														</tr>														
														<tr>
															<td>
															<input id="i11" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
															<td class="matrix_digits digits"> - </td>
															<td>
															<input id="i12" type="text" style="height:24px; width:40px; font-size:12px" class="formula_input_field">
															</td>
														</tr>														
													</tbody>
												</table>
												</td>
												<td><img src="/static/img/rightP8.png"></td>
											</tr>
							</tbody>
						</table>   