body {
	background: #ffffff url('/static/img/grid-18px-masked.png') repeat-x left top;
	padding-top: 30px
}

td.admin-tasks-controls {vertical-align: middle}
.white-bg {background-color:white}
.dodgerblue-out {background-color:green}
.itask-container {margin: 30px; z-index: 1}

/* =========== Pop-out windows =================== */
.pop-out-header {
	background-color:#eee;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: move;
	border-bottom: 1px solid #ccc;
	-webkit-transition: background-color 200ms ease-in-out;
}

.pop-out-header:hover {
	background-color: #ddd;
}

/* =========== Hints pop-out window =================== */
.pop-out-hints{
	position:fixed; 
	top:70px; 
	right:0; 
	left:26px; 
	z-index:1030; 
	width:600px
}
#hints_window {
	border: 1px solid #aaa;
	padding: 0px;
	box-shadow: 1px 1px 9px #CCC;
}

#hints {overflow: auto; height: 170px; padding: 5px 10px;}
#close_hints_button {float: right;}

/* =========== Notations pop-out window =================== */
.pop-out-notations{
	position:fixed;
	top:70px; 
	right:0; 
	left:238px; 
	z-index:1030;
	width: 440px;
}
#notations_window {
	border: 1px solid #aaa;
	padding: 0px;
	box-shadow: 1px 1px 9px #CCC;
}
.notations {
	overflow: auto; 
	max-height: 500px;
	padding: 5px 10px;
}
.notations table {margin-bottom: 0}
#show_notations_window {float: right;}

/*===============Solution pop-out-window==============*/

.pop-out-solution{
	position:absolute;
	top:25%;
	right:25%;
	z-index:1030; 
	width:50%;
}

#solution-window {
	position:relative;
	border: 1px solid #aaa;
	padding: 0px;
	box-shadow: 1px 1px 9px #CCC;
}

#solution-content {
	position:relative;
	overflow: auto; 
	padding: 5px 10px;
	max-height:500px;
}

.notebook-control-bar {padding-left: 45px; z-index: 1}
.step-container h6 {color: #333; margin-bottom: 5px}
.student-step {position: relative; width: 95%; border: 1px solid #aaa; margin-bottom: 0}
.step-correct {border: 3px solid #468847}
.step-wrong {border: 3px solid #B94A48}

.step-input {padding:5px; width: 100%}

.student-step-control-bar {margin-bottom: 15px}
.remove-step {
	position: absolute;
	float: right;
	top: 5px;
	right: 5px;
	width: 22px;
	height: 22px;
	background: url('/static/img/icon-close.png') no-repeat left top;
}

.attempt-debug-menu {
	position: absolute;
	right: 0; 
	bottom: 0;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #eee;
}

.math_toolbox_element {
  	cursor: pointer;
    padding: 5px;
}

.table_formula tr td {
		text-align: center;
		padding-top: 8px;
}
.table_formula .math > span {
		margin-top: 5px
}

.math_toolbox_element {
    border: 1px solid gray;
}

.table_formula input {
		padding: 2px;
		line-height: 10px;
		text-align: center;
		vertical-align: center;
}
.easy-inputted-formula{
	padding-top: 10px;
	padding-bottom: 10px;
}
.main_container {border: 0}
.main_container table {border: 0}
.matrix_view td input {vertical-align: middle; padding: 0}
.hidden_column_space {width: 18px}

.solution_entry {background: white}


/* ======== Templates ======== */

input.normal_input {height: 20px; width: 36px; font-size: 14px}
input.upper_index_input {height: 8px; width: 12px; font-size: 10px}
input.lower_index_input {height: 8px; width: 12px; font-size: 10px; padding-top: 15px}
input.formula_input_field_droppable{
		border: 1px dashed #555;
		background: #FAFAFA;
		box-shadow: inset 1px 1px 1px #AAA;
}
.digits {font-size: 18px;}
.table_formula td {vertical-align: top}
.main_container tr td table tr td {vertical-align: center; margin: 0px}



/* ======== Login form ================== */
.login_form {
	position:absolute;
	top: 50%;
    left: 50%;
	background: #FCFDFD;
	width: 500px;
	margin-top: -200px; /* negative number 1/2 height */
    margin-left: -250px; /* negative number 1/2 width */
	padding: 25px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}
.login_form h2 {text-align: center; margin-bottom: 30px}

/* ======== Account top block  ========== */
.account_block {margin-top: -15px; margin-bottom: 10px; float: right;}
.account_block a {color: black;}
.account_block i {margin-top: 1px}

/* ========== Theory ============ */
li.task-link {line-height: 25px;}
.task-link a {
	display: block;
	padding: 3px 0 3px 34px; 
	background:url('/static/img/icon-task.png') no-repeat 5px top;
}
