<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h2>Попытки</h2>
    <br>
    <div class="row-fluid">
        <div class="span12">
            <button class="btn btn-warning remove_attempts">
                <i class="icon-trash icon-white"></i> Удалить выбранные записи
            </button>
            &nbsp;
	<button class="btn return">
                <i class="icon-arrow-left icon-grey"></i> 
                <a href="{% url students.views.all_logs %}">Данные по всем студентам</a>
    </button>
            <br><br>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th><input type="checkbox" id="select_all_attempts"></th>
                    <th>Студент</th>
                    <th>Дата</th>
                    <th>Начало попытки</th>
                    <th>Конец попытки</th>
                    <th>Задача</th>
                    <th>№ попытки</th>
                    <th>Помощь</th>
                    <th>Статус</th>
                    <th>Оценка</th>
                </tr>
                </thead>
                <tbody class="tbody">
                {% for attempt in attempts %}
                    <tr>
                        <!-- Добавить вместо тайтлов -- тултипы при наведении, время срабатывания - 0 сек -->
                        <td><input type="checkbox" data-id="{{ attempt.id }}"></td>
                        <td><a href="{% url students.views.student_attempts attempt.session.student.id %}" rel="tooltip" title="Показать записи только по студенту">{{ attempt.session.student.user.username }}</a></td>
                        <td><a href="{% url students.views.session_attempts attempt.session.id %}" rel="tooltip" title="Показать записи только по сессии">{{ attempt.session.date }}</a></td>
                        <td>{{ attempt.time_start|time:"H:i:s" }}</td>
                        <td>{{ attempt.time_end|time:"H:i:s" }}</td>
                        <td>{{ attempt.task.name }}</td>
                        <td><a href="{% url students.views.show_attempt attempt.id %}" rel="tooltip" title="Посмотреть попытку" class="attempt" data-task="{{ attempt.task.id }}" data-session="{{ attempt.session.id }}">&nbsp;</a></td>
                        <td>{% if attempt.help_enabled %}вкл{% else %}выкл{% endif %}</td>
                        <td>{% if attempt.status == -1 %}не успешно{% endif %}{% if attempt.status == 1 %}успешно{% endif %}{% if attempt.status == 0 %}в процессе{% endif %}</td>
                    	<td>{{attempt.grade}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- end container -->
</div>
<script src="/static/lib/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<script>

    function number_attempts() {
        var attempts = {};
        $(".attempt").each(function(){
            var task = $(this).attr("data-task");
            var session = $(this).attr("data-session");

            if (typeof attempts[task] == 'undefined') attempts[task] = {};

            if (typeof attempts[task][session] == 'undefined') {
                attempts[task][session] = 1;
            } else {
                attempts[task][session] += 1;
            };
            $(this).html(attempts[task][session]);
        });
    };

    $(function(){
        $("table a").tooltip();

        // удаление попыток
        $(".remove_attempts").click(function(){
            var ids = new Array;
            $("input:checked").each(function(){
                if ( $(this).attr("data-id") ) {
                    ids.push($(this).attr("data-id"));
                    $(this).parentsUntil(".tbody").last().remove();
                }
            });
            ids = ids.join(',');
            $.post('/remove_attempts', {'ids': ids});

            number_attempts();

            return false;
        });

        // отметить все - снять все отметки
        $("#select_all_attempts").click(function(){

            console.log($(this).attr("checked"));

            if ( typeof $(this).attr("checked") != 'undefined' ) {
                $("input").attr("checked", true);
            } else {
                $("input").attr("checked", false);
            }

        });


        number_attempts();
    });
</script>
</body>
</html>
