{% load task_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
<br>
	<button class="btn return">
                <i class="icon-arrow-left icon-grey"></i> 
                <a href="{% url students.views.all_logs %}">Данные по всем студентам</a>
    </button>
    <div class="row-fluid">
        <div class="span12">
            <h1>Попытка</h1>
            <p><b>Студент:</b>{{ attempt.session.student.user.username }}</p>
            <p><b>Сессия:</b>{{ attempt.session.date }}</p>
            <p><b>Попытка:</b>{{ attempt.time_start|time:"H:i" }} - {{ attempt.time_end|time:"H:i" }}</p>
            <p><b>Задача:</b>{{ attempt.task.name }}</p>
            <p><b>Помощь:</b>{% if attempt.help_enabled %}вкл{% else %}выкл{% endif %}</p>
            <p><b>Статус:</b>{% if attempt.status == -1 %}не успешно{% endif %}{% if attempt.status == 1 %}успешно{% endif %}{% if attempt.status == 0 %}в процессе{% endif %}</p>
            <p><b>Оценка:</b>{{attempt.grade}}</p>
            <p><b>Условия задачи:</b>

                {{ attempt.task.description|math_filter:attempt.task_parameters|safe }}

                </p>
            <p><b>Решение студента:<br/></b>
                {% for step in steps %}
                {% if step.status == 0 %} 
                <div style = 'color:blue'> 
                {% elif step.status == 1 %}
                <div style = 'color:green'> 
                {% else %}
                <div>           
                {% endif %}
                {{step.time|time:"H:i:s" }} <b>Шаг </b>{{step.number}}, тип: {{step.milestone.type}}, интерфейс: 
                {% ifequal step.interface 1 %} трудный, {% else %} легкий, {% endifequal %}
                {% if step.status == 1 %} введен правильно {% elif step.status == -1 %} введен неправильно {% else %} временно засчитан {% endif %}<br/><br/>
                {% if step.interface %}\({{ step.data_hard }}\){% else %}\({{ step.data_easy }}\){% endif %}<br /><br/>
                </div>
                {% endfor %}                
             </p>
        </div>
    </div>
    <div class="row-fluid">
            <p><b>Журнал действий (подсказки):<br/><br/></b>
                {% for log in logs %}
                    {{ log.log_time|time:"H:i:s" }} {{ log.log_data }}<br />
                {% endfor %}
             </p>
    </div>
    <!-- end container -->
</div>
<script src="/static/lib/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<script>
    $(function(){
        $("table a").tooltip();


    });
</script>
</body>
</html>
