<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>iTask {% block page_title %}{% endblock %}</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/front/main.css" rel="stylesheet">

    <script src="/static/lib/jquery/jquery-1.7.1.min.js"></script>
    <script src="/static/lib/jquery/jquery.color.js"></script>
    <script src="/static/lib/jquery/jquery.effects.core.js"></script>
    <script src="/static/lib/jquery/jquery.ui.core.js"></script>
    <script src="/static/lib/jquery/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="/static/lib/jquery.scrollTo-1.4.3.1-min.js"></script>
    
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
    
    <script src="/static/lib/mathjax/MathJax.js?config=TeX-AMS_HTML"></script>  
    {# Этим блоком можно пользоваться для включения js и css файлов #}
    {% block head%}{% endblock %}
</head>
<body>

<div class="container-fluid itask-container">

    <!-- Notebook control menu -->
    <div class="row well notebook-control-bar navbar-fixed-top">
            <div class="account_block">
                {% if user.is_authenticated %}
                    <a href="{% url logout %}" title="Выйти из системы" class="">{{ user.username }}&nbsp;&nbsp;<i class="icon-off"></i></a>
                {% else %}
                    {# <a href="{% url login %}" title="Войти в систему" class="btn btn-primary">Войти в систему</a> #}
                {% endif %}
            </div>
        {% block control %}{% endblock %}
    </div>
    <!-- END Notebook control menu -->
    {% block content %}{% endblock %}
</div>
<!-- END Container -->

<div class="modal hide fade" id="yesNoModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
  </div>
  <div class="source hide"></div>
  <div class="modal-body"><p></p></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary yes-button">Да</a>
    <a href="#" class="btn no-button" data-dismiss="modal">Нет</a>    
  </div>
</div>
</body>
</html>