{% load task_filters %}
{% if hint_type == 4 %}
   	<b>Подсказка по общему ходу решения, шаг № {{step_number}}:</b><br />
   			{{ hint_text }}
   	<br /><br /><!--{{ hint_id }}-->
{% else %}
<div class = "hint_kind hide"> {{ hint_kind }} </div>
	    {% if hint_kind ==  3 %}
	    	<b>Конкретная подсказка по шагу № {{step_number}}:</b><br />
	        <p>Переключитесь на более простую <a href="{% url solve_task hint_text %}" target="_blank">задачу</a></p>
	        <br /><br /><!--{{ hint_id }}-->
	    {% else %}
	        {% if hint_kind == 2 %}
	        <b>Теоретическая подсказка по шагу № {{step_number}}:</b><br />
	            Посмотрите теоретический <a href="{% url show_theory hint_text %}" target="_blank">материал</a>
	            <br /><br /><!--{{ hint_id }}-->
	        {% else %}
	            <b>
                {% if hint_type == 1 %}Теоретическая{% endif %}
                {% if hint_type == 2 %}Схематическая{% endif %}
                {% if hint_type == 3 %}Конкретная{% endif %} подсказка по шагу № {{step_number}}:</b><br />
                <p>{{ hint_text }}</p><!--{{ hint_id }}-->
	        {% endif %}
	    {% endif %}
{% endif %}