{% load task_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
<br>
	<button class="btn return">
                <i class="icon-arrow-left icon-grey"></i> 
                <a href="{% url students.views.all_logs %}">Данные по всем студентам</a>
    </button>
    <div class="row-fluid">
        <div class="span12">
            <h1>Лог действий студента</h1>
            <p><b>Студент:</b>{{ student_name }}</p>
            <p><b>Сессия:</b>{{ identificator }}</p>
            <p><b>Журнал действий:<br/><br/></b>
                {% for log in logs %}
                    {{ log.log_time|time:"H:i:s" }} {{ log.log_data }}<br />
                {% endfor %}
             </p>
        </div>
    </div>
    <!-- end container -->
</div>
<script src="/static/lib/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<script src="/static/lib/mathjax/MathJax.js?config=TeX-AMS_HTML"></script>
</body>
</html>