<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h2>Логи по сессиям</h2>
    <br>
    <div class="row-fluid">
        <div class="span12">
            <button class="btn btn-warning remove_logs">
                <i class="icon-trash icon-white"></i> Удалить выбранные записи
            </button>
            <br><br>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th><input type="checkbox" id="select_all_logs"></th>
                    <th>Студент</th>
                    <th>Идентификатор сессии</th>
                    <th>Лог</th>
                    <th>Попытки</th>
                </tr>
                </thead>
                <tbody class="tbody">
                {% for session in sessions %}
                    <tr>
                        <td><input type="checkbox" data-id="{{ session.id }}"></td>
                        <td>{{ session.student.user.username }}</td>
                        <td>{{ session.identificator}}</td>
                        <td><a href="{% url students.views.show_logs session.id %}" rel="tooltip" title="Посмотреть лог сессии">Лог</a></td>
                    	<td><a href="{% url students.views.session_attempts session.id %}" rel="tooltip" title="Посмотреть попытки решения задач">Попытки</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- end container -->
</div>
<script src="/static/lib/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<script>
    $(function(){
        $("table a").tooltip();

        // удаление сессий
        $(".remove_logs").click(function(){
            var ids = new Array;
            $("input:checked").each(function(){
                if ( $(this).attr("data-id") ) {
                    ids.push($(this).attr("data-id"));
                    $(this).parentsUntil(".tbody").last().remove();
                }
            });
            ids = ids.join(',');
            $.post('/remove_logs', {'ids': ids});
            return false;
        });

        // отметить все - снять все отметки
        $("#select_all_logs").click(function(){

            console.log($(this).attr("checked"));

            if ( typeof $(this).attr("checked") != 'undefined' ) {
                $("input").attr("checked", true);
            } else {
                $("input").attr("checked", false);
            }

        });
    });
</script>
</body>
</html>
