{% extends "base.html" %}
{% load task_filters %}

{% block page_title %}
    Задача {{ task.name }}
{% endblock page_title %}


{% block head %}
    {# {% now 'U' %} – для того, чтобы  каждый раз заново  загружались скрипты #}
    <script src="/static/front/site.js?{% now 'U' %}"></script>
    <script src="/static/front/check_answers.js?{% now 'U' %}"></script>
    <script src="/static/front/syntax_utils.js?{% now 'U' %}"></script>
    <script src="/static/front/get_show_hints.js?{% now 'U' %}"></script>
    <script src="/static/front/logging.js" type="text/javascript"></script>
    <script src="/static/front/task_animations.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
		$( ".pop-out-notations" ).draggable({ cursor: "move", handle: ".notations-header" });		
		$( ".pop-out-hints" ).draggable({ cursor: "move", handle: ".hints-header" });
		$( ".pop-out-solution" ).draggable({ cursor: "move", handle: ".pop-solution-header" });
		   	
	    help_enabled = {{help_enabled}};
	    //чтобы в лог не добавлялись лишние строки
	    var window_no_log = false;
	    var logger = new Logger();
	    
	    function reset_window_no_log(){
	    	window_no_log = !(window_no_log);
	    }
	    
		$('.pop-out-notations').bind('dragstart',function(){
			logger.add_to_log('STUDENT DRAG NOTATIONS ');
        });
	    
		$('.pop-out-hints').bind('dragstart',function(){
			logger.add_to_log('STUDENT DRAG HINTS ');
        });
		
		$('.pop-out-solution').bind('dragstart',function(){
			logger.add_to_log('STUDENT DRAG EXTENDED_SOLUTION ');
        });
		
		
	  //5. Сколько по времени двигался курсор мышки без остановки
	    (function(){
	    	var timer = null;
	    	var isMouseMoving = false;
	    	var secondsMoving = 0;

	    	function mouseStop() { 
	    		isMouseMoving = false
	    		secondsMoving = ((new Date).getTime() - secondsMoving)/1000
	    		if (!window_no_log){
		    		logger.add_to_log('STUDENT MOVE_MOUSE WINDOW ' + secondsMoving);
	    		}
	    	}

	    	$('body').mousemove(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isMouseMoving) {
	    			isMouseMoving = true
	    			secondsMoving = (new Date).getTime()
	    		}
	    	});
	    })();

	    // 6. Сколько по времени студент скроллил страницу
	    (function(){
	    	var timer = null;
	    	var isScrolling = false;
	    	var secondsScrolling = 0;

	    	function mouseStop() { 
	    		isScrolling = false
	    		secondsScrolling = ((new Date).getTime() - secondsScrolling)/1000
	    		if (!window_no_log){
		    		logger.add_to_log('STUDENT SCROLL WINDOW ' + secondsScrolling);
	    		}
	    	}

	    	$(window).scroll(function(){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isScrolling) {
	    			isScrolling = true
	    			secondsScrolling = (new Date).getTime()
	    		}
	    	});
	    })();

	    //5. Сколько по времени студент двигал мышкой по notations
	    (function(){
	    	var timer = null;
	    	var isMouseMoving = false;
	    	var secondsMoving = 0;

	    	function mouseStop() { 
	    		isMouseMoving = false
	    		secondsMoving = ((new Date).getTime() - secondsMoving)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT MOVE_MOUSE NOTATIONS ' + secondsMoving);
	    	}

	    	$('.notations').mousemove(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isMouseMoving) {
	    			isMouseMoving = true
	    			secondsMoving = (new Date).getTime()
	    		}
	    	});
	    })();

	    //сколько по времени студент скроллил обозначения
	    (function(){
	    	var timer = null;
	    	var isScrolling = false;
	    	var secondsScrolling = 0;

	    	function mouseStop() { 
	    		isScrolling = false
	    		secondsScrolling = ((new Date).getTime() - secondsScrolling)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT SCROLL NOTATIONS ' + secondsScrolling);
	    	}

	    	$('.notations').scroll(function(){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isScrolling) {
	    			isScrolling = true
	    			secondsScrolling = (new Date).getTime()
	    		}
	    	});
	    })();

	    //5. Сколько по времени студент двигал мышкой по solution
	    (function(){
	    	var timer = null;
	    	var isMouseMoving = false;
	    	var secondsMoving = 0;

	    	function mouseStop() { 
	    		isMouseMoving = false
	    		secondsMoving = ((new Date).getTime() - secondsMoving)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT MOVE_MOUSE SOLUTION ' + secondsMoving);
	    	}

	    	$('#solution').mousemove(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isMouseMoving) {
	    			isMouseMoving = true
	    			secondsMoving = (new Date).getTime()
	    		}
	    	});
	    })();

	    //сколько по времени студент скроллил обозначения
	    (function(){
	    	var timer = null;
	    	var isScrolling = false;
	    	var secondsScrolling = 0;

	    	function mouseStop() { 
	    		isScrolling = false
	    		secondsScrolling = ((new Date).getTime() - secondsScrolling)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT SCROLL SOLUTION ' + secondsScrolling);
	    	}

	    	$('#solution').scroll(function(){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isScrolling) {
	    			isScrolling = true
	    			secondsScrolling = (new Date).getTime()
	    		}
	    	});
	    })();
	    
	  //6. Сколько по времени студент скроллил подсказки
	    (function(){
	    	var timer = null;
	    	var isScrolling = false;
	    	var secondsScrolling = 0;

	    	function mouseStop() { 
	    		isScrolling = false
	    		secondsScrolling = ((new Date).getTime() - secondsScrolling)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT SCROLL HINTS ' + secondsScrolling);
	    	}

	    	$("#hints").scroll(function(e){
	    	    if (!auto_scrolling) {
	    			clearTimeout(timer)
	    			timer = setTimeout(mouseStop, 1000)
	    			if (!isScrolling) {
	    				isScrolling = true
	    				secondsScrolling = (new Date).getTime()
	    			}
	    	        }
	    	        else{
	    	        	auto_scrolling = false;
	    	        }
	    	});
	    })();

	    //сколько по времени студент двигал мышкой по подсказкам 
	    (function(){
	    	var timer = null;
	    	var isMouseMoving = false;
	    	var secondsMoving = 0;

	    	function mouseStop() { 
	    		isMouseMoving = false
	    		secondsMoving = ((new Date).getTime() - secondsMoving)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT MOVE_MOUSE HINTS ' + secondsMoving);
	    	}

	    	$('.pop-out-hints').mousemove(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isMouseMoving) {
	    			isMouseMoving = true
	    			secondsMoving = (new Date).getTime()
	    		}
	    	});
	    })();
	    
	    
	    //5. Сколько по времени студент двигал мышкой по развернутому решению
	    (function(){
	    	var timer = null;
	    	var isMouseMoving = false;
	    	var secondsMoving = 0;

	    	function mouseStop() { 
	    		isMouseMoving = false
	    		secondsMoving = ((new Date).getTime() - secondsMoving)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT MOVE_MOUSE EXTENDED_SOLUTION ' + secondsMoving);
	    	}

	    	$('#solution-content').mousemove(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isMouseMoving) {
	    			isMouseMoving = true
	    			secondsMoving = (new Date).getTime()
	    		}
	    	});
	    })();

	    //сколько по времени студент скроллил развернутое решение
	    (function(){
	    	var timer = null;
	    	var isScrolling = false;
	    	var secondsScrolling = 0;

	    	function mouseStop() { 
	    		isScrolling = false
	    		secondsScrolling = ((new Date).getTime() - secondsScrolling)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT SCROLL EXTENDED_SOLUTION ' + secondsScrolling);
	    	}

	    	$('#solution-content').scroll(function(){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isScrolling) {
	    			isScrolling = true
	    			secondsScrolling = (new Date).getTime()
	    		}
	    	});
	    })();
	    
	 //сколько по времени студент скроллил типы шага
		  //6. Сколько по времени студент скроллил подсказки
	    (function(){
	    	var timer = null;
	    	var isScrolling = false;
	    	var secondsScrolling = 0;

	    	function mouseStop() { 
	    		isScrolling = false
	    		secondsScrolling = ((new Date).getTime() - secondsScrolling)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT SCROLL SELECT_STEP ' + secondsScrolling);
	    	}

	    	$("#modal_select_step").scroll(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isScrolling) {
	    			isScrolling = true
	    			secondsScrolling = (new Date).getTime()
	    		}
	    	});
	    })();
	 
	    //сколько по времени студент двигал мышкой по типам шага 
	    (function(){
	    	var timer = null;
	    	var isMouseMoving = false;
	    	var secondsMoving = 0;

	    	function mouseStop() { 
	    		isMouseMoving = false
	    		secondsMoving = ((new Date).getTime() - secondsMoving)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT MOVE_MOUSE SELECT_STEP ' + secondsMoving);
	    	}

	    	$('#modal_select_step').mousemove(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isMouseMoving) {
	    			isMouseMoving = true
	    			secondsMoving = (new Date).getTime()
	    		}
	    	});
	    })();
	    
	    //сколько времени студент ходил по типам шага с помощью стрелок
	    (function(){
	    	var timer = null;
	    	var isMouseMoving = false;
	    	var secondsMoving = 0;

	    	function mouseStop() { 
	    		isMouseMoving = false
	    		secondsMoving = ((new Date).getTime() - secondsMoving)/1000
	    		reset_window_no_log();
	    		setTimeout(reset_window_no_log, 1000);
	    		logger.add_to_log('STUDENT KEY_DOWN SELECT_STEP ' + secondsMoving);
	    	}

	    	$('#modal_select_step').keydown(function(e){
	    		clearTimeout(timer)
	    		timer = setTimeout(mouseStop, 1000)
	    		if (!isMouseMoving) {
	    			isMouseMoving = true
	    			secondsMoving = (new Date).getTime()
	    		}
	    	});
	    })();
	    
    });
	</script>
{% endblock head %}


{% block control %}
	<a href="#" class="btn btn-info show_hints_window">  
		  <i class="icon-comment icon-white" style="margin-right:5px"></i>Полученные подсказки
	</a>
	&nbsp;
	<a a href="#" class="btn select-step-type show_notations_window"> 
		<i class="icon-list icon-black" style="margin-right:5px"></i>Обозначения
	</a>
    &nbsp;    
    <a href="#" class="btn btn-info" id="get_plan_hint" >  
		  <i class="icon-question-sign icon-white" style="margin-right:5px"></i>Подсказка по плану решения
	</a>
    &nbsp;
    <a href="#" class="btn btn-success">
    <i class="icon-ok icon-white" style="margin-right: 5px"></i>
        Получить оценку
    </a>
    &nbsp;
    <a href="/theory/" class="btn btn-info" target="_blank">
    <i class="icon-book icon-white" style="margin-right: 5px"></i>
        Оглавление
    </a>  
    &nbsp; 
    <a href="#" class="btn btn-primary" id="start_again" >  
		  <i class="icon-repeat icon-white" style="margin-right:5px"></i>Попробовать сначала
	</a>
{% endblock %}


{% block content %}  
<!-- Notebook -->
<div class="row">
    <div class="span16">
        <h1 style="margin-bottom: 15px">{% block title %}{% endblock %}</h1>   
            <h4>{{ task.name }}</h4>
            <p id="condition">
                {{ task.description|math_filter:task_params|safe }}
            </p>
            <div style="display: none;" id="task_id">
                {{ task.id }}
            </div>
            <div style="display: none;" id="attempt_id">
                 {{ attempt_id }}
            </div>
     </div>
</div>

<div class="row" id="notebook-workspace">
	<div class="span11">
		<!-- Solution -->
		<div style=" width:100%; height:1px; clear:both;">
		<h4 id="solution_head" style="width: 80px; float:left;">Решение</h4>
		&nbsp;
		<a href="#" class="unroll-solution" style="font-size:10px">  
		  развернуть
		</a>
		<div style=" width:100%; height:1px; clear:both;">
		<div class="well white-bg" id="solution" style="overflow: auto; height: 80px;">
		</div>
		<!-- END Solution -->
		
		<div id="step-template">
			<div class="step-container" milestone-id="0">
				<h4>
					Шаг <span class="step-number">1</span><span class="title_step"></span><span class="valid"></span>
				</h4>
				
				<!-- Student step -->
				<div class="student-step well white-bg">
					<div class="student-step-control-bar">
						<a href="#" class="btn select-step-type hide"> <i class="icon-list icon-black" style="margin-right: 5px"></i>
							Выбрать тип шага
						</a> <a class="check-step btn btn-success"
							data-loading-text="Проверка..." autocomplete="off" href="#">
							<i class="icon-ok icon-white" style="margin-right: 5px"></i>
							Проверить шаг
						</a> 
		
						<span class="dropdown step-hint" href="#"> 
							
							<a href="#"	class="btn btn-info dropdown-toggle" data-toggle="dropdown">
									<i class="icon-info-sign icon-white" style="margin-right: 5px"></i>
									Подсказка по шагу
							</a>
							<ul class="dropdown-menu" style="margin-top: 10px;">
								<li><a href="#" class="get_hint" data-hint="1">Теоретическая</a></li>
								<li><a href="#" class="get_hint" data-hint="2">Схематическая</a></li>
								<li><a href="#" class="get_hint" data-hint="3">Конкретная</a></li>
							</ul>
						</span> 
						
						<a class="reset-easy btn btn-danger hide"> Сбросить </a>
						
						<a class="btn btn-info input-rules" href="/theory/37" target="_blank"><i class="icon-question-sign icon-white" style="margin-right: 5px"></i> Правила ввода</a>
						<a class="complain btn btn-danger"><i class="icon-bullhorn icon-white" style="margin-right: 5px"></i> Пожаловаться </a>
					</div>
					<div class="control-group">
						<textarea class="input-xlarge step-input null-data" rows="3"
							data-bind="value: given_answer"></textarea>
					</div>

					<div class="inputted-formula"></div>
					<!-- шаблон для легкого интерфейса -->
					<div class="check-type hide"></div>
					<div class="initial-template hide"></div>
					<div class="send-data hide"></div>
					<div class="variables hide"></div>
					<div class="easy-inputted-formula hide"></div>

					<div class="right">
						<a href="#" class="toggle_interface">переключить на легкий
							интерфейс</a>
					</div>
				</div>
			</div>
			<!-- END Student step -->
			
		</div>
		<!-- END Step template -->
	</div>
	
	<!-- Модальные окна -->
	<div class="modal hide fade" id="modal_message_attention">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Внимание!</h3>
		</div>
		<div class="modal-body">
			<p></p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Ок</a>
		</div>
	</div>
	
	<div class="modal hide fade" id="modal_message">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
		</div>
		<div class="modal-body">
			<p></p>
		</div>
	</div>
	
	<div class="modal hide fade" id="modal_select_step"
		style="width: 600px;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Выбор типа шага</h3>
		</div>
		<div class='close-reason hide'>0</div>
		<div class="modal-body">
			<select class="milestone_type" size="10" style="width: 570px;">
				{% for solution_milestone in solution_milestones %}
					<option value="{{ solution_milestone.milestone.id }}">
						{{solution_milestone.milestone.type}}
					</option> 
				{% endfor %}
			</select>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-info" id="btn-select-step-type">Выбрать</a>
			<a href="#" class="btn btn-danger" id="btn-cancel-select-step-type">Отмена</a>
		</div>
	</div>
	<!-- END Модальные окна -->
</div>
<!-- END Notebook-workspace -->

<!--  Bar for pop-out windows -->
<div class="pop-out-hints hide">
    <div id="hints_window" class="well white-bg">
    	<div class="pop-out-header hints-header">
    		Полученные подсказки
    		<button type="button" class="show_hints_window close close_hints_button">×</button>
    	</div>
        <div id="hints"></div>
        <div style="position: absolute; left: 120px; top: 60px; z-index: 2000; text-align: center; width: 200px; background-color: white" class="hide" id="loading_hint">
            <img src="/static/img/ajax-loader.gif">
            <br><p>Подождите, загружается подсказка</p>
        </div>
    </div>
</div>

<div class="pop-out-notations hide">
    <div id="notations_window" class="well white-bg">
    	<div class="pop-out-header notations-header">
			Обозначения
			<button type="button" class="show_notations_window close">×</button>
		</div>
        <div class="notations">    
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Обозначение</th>
                        <th>Код</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task_notation in task.task_notations.all %}
                    <tr>
                        <td class="notation"><span class="math_toolbox_element ui-draggable" data-tex="{{ task_notation.notation.name }}">${{ task_notation.notation.name }}$</span></td>
                        <td>{{ task_notation.notation.name }} </td>
                        <td class="notation">{{ task_notation.notation.notation }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="pop-out-solution hide">
    <div id="solution-window" class="well white-bg">
    	<div class="pop-out-header pop-solution-header">
    		Решение
    		<button type="button" class="close close_solution_button">×</button>
    	</div>
    	<div id="solution-content"></div>
    </div>
</div>
<!-- END bar for pop-out windows -->

{% endblock %}
